// colors
$brand-white: #fff;

$brand-black: #282828;
$brand-black-alt: #000;

$brand-green: #2d4738;

$brand-gray: #969a96;
$brand-gray-alt: #979797;
$brand-gray-light: #ebece9;
$brand-gray-light-alt: #d0d2d0;

$brand-brown: #5a3737;
$brand-brown-light: #c78e73;
$brand-yellow: #ff9b5b;

$brand-red: #bf3c14;
