// colors
$brand-white: #fff;
$brand-black: #282828;

$brand-green: #2D4738;

$brand-gray: #969A96;
$brand-gray-light: #EBECE9;

$brand-brown: #5A3737;
$brand-brown-light: #C78E73;

$brand-red: #BF3C14;
