// colors
$brand-white: #fff;
$brand-black: #373a3c;
$brand-yellow: #ffeb00;
$brand-red: #d1252b;
$brand-blue: #09f;
$brand-gray: #a8a7a7;
$brand-gray-dark: #707070;
$brand-gray-light: #ddd;


$brand-black-trans: rgba($brand-black, .9);
