
// sass-lint:disable no-url-domains
// sass-lint:disable no-url-protocols
@import url('https://use.typekit.net/pek8iix.css');
@import url('https://fonts.googleapis.com/css?family=Barlow|Barlow+Condensed&display=swap');


$barlow: 'Barlow', sans-serif;
$barlow-condensed: 'Barlow Condensed', sans-serif;
$marydale: 'marydale', sans-serif;
$georgia: 'Georgia', serif;
