@font-face {
  font-family: 'Vz Regular';
  src: url('https://info.verizonwireless.com/rs/324-BZD-350/images/VerizonNHGeDS-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Vz Bold';
  src: url('https://info.verizonwireless.com/rs/324-BZD-350/images/VerizonNHGeDS-Bold.woff2') format('woff2');
}
