.footer {
  background-color: black;
  padding: 20px;

  &__img {
    width: 200px;
  }

  &__block {

    &--text {
      padding-top: 20px;

      * {
        color: white;
        font-family: 'Vz Regular', sans-serif;
      }

      small {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}
