
* {
  // sass-lint:disable no-vendor-prefixes
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $barlow;
  font-size: 1.7rem;
  line-height: 1.76;
  letter-spacing: .98px;

  &.no-scroll {
    overflow: hidden;
    position: fixed;
  }
}

// CONTAINERS
.container {
  max-width: 1140px;
}

section,
.section {
  position: relative;
  display: block;
}
