
* {
  // sass-lint:disable no-vendor-prefixes
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $barlow;
  font-size: 1.6rem;
  line-height: 1.625;
  letter-spacing: .98px;
  overflow-x: hidden;

  &.no-scroll {
    overflow: hidden;
    position: fixed;
  }

  padding-top: 60px;

  @include media-breakpoint-up(md) {
    padding-top: 88px;
    font-size: 1.7rem;
    line-height: 1.76;
    
  }
}

// CONTAINERS
.container {
  max-width: 1170px;
}

section,
.section {
  position: relative;
  display: block;
}

.hidden {
  display: none;
  visibility: hidden;
}

