
* {
  // sass-lint:disable no-vendor-prefixes
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $monserrat;
  font-size: 10px;
  font-weight: 400;
}

// CONTAINERS
.container {
  max-width: 1336px;
}

section,
.section {
  position: relative;
  display: block;
}

// SECTION COPY
.section-header {
  text-transform: uppercase;
  font-weight: lighter;
  color: $brand-red;
  font-size: 3rem;
  line-height: 1.23;
  padding-top: 42px;
  padding-bottom: 16px;

  &.with-top-border {
    border-top: 1px solid $brand-gray-dark;
  }
}

.section-subheader {
  font-size: 2rem;
  line-height: 1.2;
  color: $brand-red;
  font-weight: 400;
  margin-bottom: 10px;
}


.section-copy {
  font-size: 1.6rem;
  line-height: 2.5;
  padding-top: 0;
  margin-bottom: 32px;
  padding-right: 10%;
  color: $brand-black;
  font-weight: 300;

  &.leading {
    margin-bottom: 8px;
  }

  &--narrow {
    padding-right: 35%;
  }

  a {
    color: $brand-black;
  }

  b {
    font-weight: 700;
  }
}

.section-bullets {
  padding: 0;
  font-size: 1.6rem;
  font-weight: 300;
  list-style-type: none;
  position: relative;
  width: 100%;
  margin-bottom: 57px;

  li {
    position: relative;
    padding-left: 24px;
    display: inline-block;
    width: 65%;

    &:nth-child(2n + 1) {
      width: 34%
    }

    &::before {
      content: '•';
      color: $brand-red;
      font-size: 1.6rem;
      font-family: arial;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

// BUTTONS
// =========
a {
  text-decoration: none;
}

.button {
  position: relative;
  background-color: $brand-red;
  font-weight: bold;
  color: $brand-white;
  text-transform: uppercase;
  font-size: 1.4rem;
  border: 0;
  padding: 12px 18px 10px;
  text-decoration: none;

  &.white {
    background-color: $brand-white;
    color: $brand-red;
  }
}

