
.icon {

  &.chevron {
    width: 38px;
    height: 38px;

    &:hover {

      .icon-chevron {
        stroke-width: 1.5;
      }

    }
  }

  use {

    &.icon-logo,
    &.icon-mixercanister,
    &.icon-coctailvariety,
    &.icon-wirelessconnection,
    &.icon-customize,
    &.icon-bottleplugs {
      fill: $brand-gray-light;
    }

    &.icon-chevron {
      stroke: $brand-black;
      stroke-width: 1;

      &.white {
        stroke: $brand-gray-light;
      }
    }
  }
}
