
.icon {

  &.chevron {
    width: 38px;
    height: 38px;

    &:hover {

      .icon-chevron {
        stroke-width: 1.5;
      }

    }
  }

  &.play {
    width: 50px;
    height: 50px;

    @include media-breakpoint-up(md) {
      width: 61px;
      height: 61px;
    }
  }

  &.arrow {
    position: relative;
    width: 35px;
    height: 19px;
    transform-origin: center center;

    &.right {
      transform: scale(-1);
    }
  }

  use {

    &.icon-logo,
    &.icon-mixercanister,
    &.icon-coctailvariety,
    &.icon-wirelessconnection,
    &.icon-customize,
    &.icon-bottleplugs {
      fill: $brand-gray-light;
    }

    &.icon-chevron {
      stroke: $brand-black;
      stroke-width: 1;

      &.white {
        stroke: $brand-gray-light;
      }
    }

    &.icon-play {
      opacity: .55;
      fill: $brand-gray-light;
    }

    &.icon-arrow {
      stroke: $brand-black;
      stroke-width: 1.5;

      &.white {
        stroke: $brand-gray-light;
      }
    }
  }
}
