

$base-fontsize: 16px;

//fonts 
$font-standard: 'VerizonNHGeDS', Helvetica, Arial, sans-serif;

//breakpoints
$breakpoints: (
  xsmall: 320px,
  small: 540px,
  medium: 768px,
  large: 1024px,
  xlarge: 1440px
);
