<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>---</title>
  <script src="https://kit.fontawesome.com/b7f7677d06.js"></script>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>


    <section class="callout callout-red">

        <div class="container">
          <div class="row d-flex justify-content-between">
            <div class="col-12 col-md-8">
              <h2 class="callout-header">
                Headline calling to contribute
              </h2>
              <p class="callout-copy">
                Copy calling to contribute. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
              </p>
            </div>
            <div class="col-12 col-md-3 d-flex align-items-center justify-content-md-end">
              <a class="callout-btn button white" href="#">contribute</a>
            </div>
          </div>
        </div>
    
      </section>  


  <script src="js/vendor.js"></script>
  <script src="js/scripts.js"></script>
</body>
</html>