<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>---</title>
  <script src="https://kit.fontawesome.com/b7f7677d06.js"></script>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>





<main>


  <section class="current-show-section">
    <div class="container">

      <div class="row justify-content-center">
        <div class="col-12 col-md-10">
          <h2 class="section-header black">
            Side by Side
          </h2>

        </div>

      </div>

      <div class="sidebyside team-member">
        <div class="sidebyside--left team-member--image">
            <img src="images/team-image.png" alt=""/>
        </div>
        <p class="sidebyside--right team-member--copy">
          <span class="team-member--copy-header">Firstname Lastname | Role</span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non. Reprehenderit in voluptate velit esse cillum dolore eu fugiat
        </p>
      </div>


  </section>







</main>




  <script src="js/vendor.js"></script>
  <script src="js/scripts.js"></script>
</body>
</html>


