<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>---</title>
  <script src="https://kit.fontawesome.com/b7f7677d06.js"></script>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <nav class="navigation">

        <div class="navigation-topbar">
          <div class="container">
      
            <div class="row">
              <div class="col-12 d-flex align-items-center justify-content-end">
                <a class="active" href="#" target="_self">Contact</a>
                <a href="#" target="_self">Rentals</a>
                <a href="#" target="_self">Store</a>
                <a href="#" target="_self">Contribute</a>
              </div>
            </div>
      
          </div>
        </div>
      
        <div class="navigation-main">
            <div class="container">
      
              <div class="row">
                <div class="col-12 d-flex justify-content-start navigation-link-wrapper">
                  <a href="#" class="navigation-logo"><img src='images/MY_30Years_TEXT_WH.png' alt='alt copy'/></a>
                  <div class="navigation-links">
                      <a href="#" target="_self">Shows</a>
                      <a href="#" target="_self">About</a>
                      <a href="#" target="_self">Writers Lab</a>
                      <a href="#" target="_self">News</a>
                  </div>
                  <div class="navigation-burger">
                    <span class="navigation-burger-bar"></span>
                    <span class="navigation-burger-bar"></span>
                    <span class="navigation-burger-bar"></span>
                  </div>
                </div>
              </div>
      
            </div>
        </div>
      
      </nav>



<header class="hero hero-writers" style="background-image: url('images/writers-hero.png')"></header>

<main>



  <section class="contact-section contact-intro">
      <div class="container">
  
        <div class="row justify-content-center">
          <div class="col-12 col-md-6">
            <h2 class="section-header">
                We’d love to work with you
            </h2>
            <p class="section-copy contact-leading">
              <b>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </b>
            </p>

            <form class="form contact-form">

              <label class="required">Name</label>
              <div class="form--item contact-form--fullname">

                <div class="contact-form-name">
                  <input type="text" name="fname"/>
                  <span class="input-message">
                    <span class="default-msg">First Name</span>
                    <span class="error-msg">First Name is Required</span>
                  </span>
                </div>
  
                <div class="contact-form-last">
                    <input type="text" name="lname"/>
                    <span class="input-message" data-error-msg="">
                      <span class="default-msg">Last Name</span>
                      <span class="error-msg">Last Name is Required</span>
                    </span>
                </div>

              </div>
              

              <div class="form--item contact-form-email">
                <label class="required">Email Address</label>
                <input type="text" name="email"/>
                <span class="input-message">
                  <span class="default-msg"></span>
                  <span class="error-msg">Email is Required</span>
                </span>
              </div>

              <div class="form--item contact-form-message">
                <label class="required">Message</label>
                <textarea name="message">

                </textarea>
                <span class="input-message">
                  <span class="default-msg"></span>
                  <span class="error-msg">Message is Required</span>
                </span>
              </div>
              
              <input class="button" type="submit" value="Submit"/>

            </form>

  

          </div>

          <div class="col-12 col-md-4 d-flex justify-content-center align-items-top">

            <div class="membership contact-membership">
              <p class="membership-header">Contact</p>
              <p class="membership-copy">
                  <span class="contact-membership-title">MA-YI THEATER</span>
                  <span>520 Eighth Avenue,</span> 
                  <span>Suite 309</span> 
                  <span>New York, NY 10018</span> 
                  P: 212.971.4862
                  <a href="mailto:info@ma-yitheater.org">info@ma-yitheater.org</a>
              </p>
            </div>

          </div>
  
        </div>
  
  
      </div>
  
  
  </section>











  









  <section class="callout callout-red">

    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-7">
          <h2 class="callout-header">
            Headline calling to contribute
          </h2>
          <p class="callout-copy">
            Copy calling to contribute. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
          </p>
        </div>
        <div class="col-12 col-md-3 d-flex callout-btn-holder">
          <a class="callout-btn button" href="#">contribute</a>
        </div>
      </div>
    </div>

  </section>

</main>


<footer class="footer">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-12 col-md-2 order-3 order-md-1">

          <p class="footer-header">Ma-Yi Theater</p>
          <p class="footer-copy">
            <span>520 Eighth Avenue, Suite 309</span>
            <span>New York, NY 10018 </span>
            <span>P: (212) 971-4862</span>
          </p>
               
        </div>
        <div class="col-12 col-md-5 order-2 order-md-2">
          <p class="footer-header">Subscribe to our Newsletter</p>
          <p class="footer-copy">
            <span>Explanation of frequency: You’ll get </span>our updates monthly.
          </p>

          <input class="footer-subscribe--input" placeholder="Email Address"/> <button class="button footer-subscribe--btn">Subscribe</button>
        </div>
        <div class="col-12 col-md-5  d-flex align-items-end justify-content-center justify-content-md-end order-1  order-md-3">
          <a href="#" class="fab fa-instagram"></a>
          <a href="#" class="fab fa-twitter"></a>
          <a href="#" class="fab fa-facebook-f"></a>
        </div>
      </div>

      <div class="row justify-content-between">
          <div class="col-12 col-md-2 d-flex align-items-end">

            <a class="footer-link" href="mailto:info@ma-yitheater.org">info@ma-yitheater.org</a>
                 
          </div>
          <div class="col-12 col-md-5">
          </div>
          <div class="col-12 col-md-5"></div>

        </div>

    </div>

    <div class="footer-legal">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-12">
            <a href="#" target="_self">Privacy Policy</a>
            <a href="#" target="_self">Terms of Use</a>
            <a href="#" target="_self">Copyright Ma-Yi Theater Company 2019</a>
          </div>
        </div>
      </div>

    </div>

</footer>

  <script src="js/scripts.js"></script>
</body>
</html>