<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>---</title>

  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

      <nav class="navigation">



        <div class="container">
          <div class="row justify-content-center">
            
            <div class="col-12">
      
      
              <div class="navbar navbar-expand-md">
                <a class="navigation-logo" href="/">
                  <svg class="icon">
                    <use class="icon-logo" xlink:href="#barsys"></use>
                  </svg>
                </a>
      
                <button class="navbar-toggler navigation-burger" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="main navigation">
                  <span class="navigation-burger-bar"></span>
                  <span class="navigation-burger-bar"></span>
                </button>
                <div class="navigation-close">
                  <img src="images/icon_close_white.png" alt="close nav"/>
                </div>
      
                <div class="collapse navbar-collapse navigation-links" id="mainNav">
                  <div class="navigation-holder">
      
                    <div class="navigation-links-header">
                      <a href="#" class="navigation-category prods">
                        <img src="images/nav-prods.png" alt="image alt"/>
                        <p class="navigation-category-label">
                          Products
                        </p>
                      </a>
                      <a href="#" class="navigation-category acces">
                        <img src="images/nav-prods.png" alt="image alt"/>
                        <p class="navigation-category-label">
                          Accessories
                        </p>
                      </a>
                    </div>
      
                    <p class="navigation-links-label">
                      additional links
                    </p>
      
                    <ul class="navbar-nav">
                      <li class="nav-item active">
                        <a class="nav-link navigation-shop" data-redirect="https://www.google.com/" data-toggle="collapse" href="#shopPanel" role="button" aria-expanded="false" aria-controls="shopPanel">store <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">technology</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">community</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">journal</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">contact us</a>
                      </li>
                    </ul>
      
                  </div>
      
                </div>
      
                <a class="navigation-search" data-toggle="collapse" href="#searchPanel" role="button" aria-expanded="false" aria-controls="searchPanel"><img src="images/search-icon.png"/></a>
                <a class="navigation-cart" href="#">
                  <span class="navigation-cart-num">2</span>
                  <img src="images/shopping-cart-icon.png"/>
                </a>
      
      
              </div>
      
      
      
            </div>
      
      
          </div>
        </div>

        <div class="collapse search-panel" id="searchPanel">
         
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-12">
                <form class="search-panel-holder">
                  <img class="search-panel-search-icon" src="images/search-icon.png"/><input class="search-panel-input" type="text" value="search"/><button class="search-panel-search-close"><img src="images/icon_close.png"/></button>
                </form>
                <div class="search-panel-results">
                  <p class="search-panel-results-label">popular searches</p>
                  <div class="search-panel-results-recos">
                    <div class="results-terms">
                      <span>Barsys 2.0</span>
                      <span>FAQs</span>
                      <span>Testimonials</span>
                      <span>Accessories</span>
                      <span>Recipes: Summer Cocktails</span>
                    </div>
                    <a class="results-cta" href="#">Contact Us</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>


        <div class="collapse shop-panel" id="shopPanel">
         
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-12">

                <div class="shop-panel-holder">
                  <div class="shop-panel-options">

                    <div class="shop-panel-list">
                      <p class="shop-panel-label">Products</p>

                      <ul>
                        <li><a href="#">Barsys Elite</a></li>
                        <li><a href="#">Barsys 2.0</a></li>
                      </ul>

                      <a class="shop-panel-cta" href="#">view all</a>

                    </div>

                    
                    <div class="shop-panel-list">
                        <p class="shop-panel-label">Accessories</p>
                        
                        <ul>
                          <li><a href="#">Magic Mounts</a></li>
                          <li><a href="#">Magic Cans</a></li>
                          <li><a href="#">Magic Mixer</a></li>
                        </ul>

                        <a class="shop-panel-cta" href="#">view all</a>
                        
                      </div>

                  </div>
                  <img class="shop-panel-image" src="images/shop.drop.image.jpg" alt="image"/>
                </div>

              </div>
            </div>
          </div>

        </div>        
      </nav>

<header class="hero homepage-hero" style="background-image:url('images/Herobanner-homepage.jpg')">

  <h1 class="hero-headline herobanner">
    <span class="eyebrow hero-eyebrow">The Smart<br/> Robot-Bartender</span>
    Revolutionizing Mixology
  </h1>
  <a class="cta hero-cta" href="#" data-underline data-line="shop-now" data-line-color="white">
    Shop Now

  </a>

</header>

<main>

  <section>

    <div class="row no-gutters">

      <div class="col-12 col-lg-6 d-flex justify-content-center order-2 order-lg-1">
        <div class="callout at-your-home">
          <div class="callout-content">
            <h2 class="callout-title">
                Bartender at <br/>Your Home
            </h2>
            <p class="callout-copy">
                Barsys is a smart automated cocktail making machine that can create over 2,000 different drinks with nothing more than the click of a button. Let Barsys do the bartending so you can spend your time with the crowd.
            </p>
            <a class="cta callout-cta" href="#" data-underline data-line="shop-now" data-line-color="white">Shop Now</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 callout-image at-your-home--image order-1 order-lg-2" style="background-image: url('images/at-your-home.jpg')"></div>

    </div>
  
  </section>

  <section class="how-it-works">

    <div class="container">

      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
          <h2 class="h1 how-it-works-title">
            How It Works
          </h2>
          <p class="how-it-works-copy">
            Simply choose your favorite spirits and mixers. Allow Barsys to craft your cocktails while you and your friends do the drinking.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-12">  

          <div class="how-it-works-steps">


            <div class="how-it-works-step">
              <svg class="icon how-it-works-step-icon">
                <use class="icon-bottleplugs" xlink:href="#BottlePlugs"></use>
              </svg>
              <p class="how-it-works-step-copy">
                  Secure plugs on bottles
              </p>
            </div>
            <div class="how-it-works-step">
              <svg class="icon how-it-works-step-icon">
                <use class="icon-mixercanister" xlink:href="#MixerCanister"></use>
              </svg>
              <p class="how-it-works-step-copy">
                  Pour mixers into canisters
              </p>
            </div>
            <div class="how-it-works-step">
              <svg class="icon how-it-works-step-icon">
                <use class="icon-wirelessconnection" xlink:href="#WirelessConnection"></use>
              </svg>
              <p class="how-it-works-step-copy">
                  Connect via bluetooth from phone or tablet
              </p>
            </div>
            <div class="how-it-works-step">
              <svg class="icon how-it-works-step-icon">
                <use class="icon-customize" xlink:href="#Customize"></use>
              </svg>
              <p class="how-it-works-step-copy">
                  Input spirits and mixers
              </p>
            </div>
            <div class="how-it-works-step">
              <svg class="icon how-it-works-step-icon">
                <use class="icon-coctailvariety" xlink:href="#CocktailVariety"></use>
              </svg>
              <p class="how-it-works-step-copy">
                  Choose from 2,000+ drinks or customize your own
              </p>
            </div>


          </div>
  
          <a class="cta how-it-works-cta" href="#" data-underline data-line="visit-store" data-line-color="white">visit store</a>

        </div>
      </div>

    </div>

  </section>




  <section>

      <div class="row no-gutters">
  
        <div class="col-12 col-lg-4 d-flex justify-content-center">
          <div class="callout smart-and-simple" style="background-image: url('images/get-app-mobile.jpg')">
            <div class="callout-content">
              <h2 class="callout-title">
                  Smart and Simple
              </h2>
              <p class="callout-copy">
                  Learn more about why Barsys is what your parties have been missing.
              </p>
              <a class="cta callout-cta" href="#" data-underline data-line="learn-more" data-line-color="white">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-8">
        


          <div class="row no-gutters">

            <div class="col-12 col-lg-6 callout-image bluetooth-connection--image" style="background-image: url('images/get-app.jpg')">
            </div>

            <div class="col-12 col-lg-6 d-flex justify-content-center">
              <div class="callout bluetooth-connection">
                <div class="callout-content">
                  <h2 class="callout-title eyebrow">
                      bluetooth connection
                  </h2>
                  <p class="callout-copy">
                    Order cocktails with the touch of a button from your phone or tablet.
                  </p>
                  <a class="cta callout-cta" href="#" data-underline data-line="get-the-app" data-line-color="white">Get the App</a>
                </div>
              </div>
            </div>

      
          </div>

          <div class="row no-gutters">

            <div class="col-12 col-lg-6 d-flex justify-content-center">
              <div class="callout customizable-drinks">
                <div class="callout-content">
                  <h2 class="callout-title eyebrow">
                      Customizable Drinks
                  </h2>
                  <p class="callout-copy">
                      Your cocktails, exactly how you want them. Add your signature drink to match the vibe.
                  </p>
                  <a class="cta callout-cta" href="#" data-underline data-line="shop-now" data-line-color="white">Shop Now</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 callout-image customizable-drinks--image" style="background-image: url('images/customize-cocktails.jpg')">
            
            </div>
      
          </div>




        </div>
  
      </div>
    
  </section>




  <section class="carousel testimonial">

      <div class="container">

        <div class="row justify-content-center">

          <div class="col-12 col-md-6">
            <h2 class="h1 carousel-title">
                They Sip, They Share
            </h2>
          </div>

        </div>

        <div class="row justify-content-center">

          <div class="col-10 col-md-12">


            <div id="carouselTestimonialsControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="testimonial-slide">

                    <p class="testimonial">
                      “This machine had totally changed my home party experience.”
                    </p>

                    <p class="testimonial-user">
                        <span class="eyebrow testimonial-name">Beulah Houston</span> <span class="testimonial-divider">|</span> <span class="testimonial-location">New York, NY</span>
                    </p>

                  </div>
                </div>
                <div class="carousel-item">

                  <div class="testimonial-slide">

                      <p class="testimonial">
                          “This machine had totally changed my home party experience.”
                        </p>
    
                        <p class="testimonial-user">
                            <span class="eyebrow testimonial-name">Beulah Houston</span> <span class="testimonial-divider">|</span> <span class="testimonial-location">New York, NY</span>
                        </p>

                  </div>

                </div>
                <div class="carousel-item">

                  <div class="testimonial-slide">
                      <p class="testimonial">
                          “This machine had totally changed my home party experience.”
                        </p>
    
                        <p class="testimonial-user">
                            <span class="eyebrow testimonial-name">Beulah Houston</span> <span class="testimonial-divider">|</span> <span class="testimonial-location">New York, NY</span>
                        </p>

                  </div>

                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselTestimonialsControls" role="button" data-slide="prev">
                <svg class="icon chevron">
                  <use class="icon-chevron" xlink:href="#Chevron"></use>
                </svg>
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselTestimonialsControls" role="button" data-slide="next">
                <svg class="icon chevron">
                  <use class="icon-chevron" xlink:href="#Chevron"></use>
                </svg>
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>



          </div>

        </div>

      </div>




      
  </section>


  <section class="image-section" style="background-image: url('images/Barsys-Image.jpg')"></section>

  <section class="carousel">

      <div class="container">

        <div class="row justify-content-center">

          <div class="col-12 col-md-6">
            <h2 class="h1 carousel-title">
                The Barsys Buzz
            </h2>
          </div>

        </div>

        <div class="row justify-content-center">

          <div class="col-10 col-md-12">


            <div id="carouselLogoControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="logo-slide">

                    <img src="images/logo_Wall-Street-Journal.png" alt=""/>
                    <img src="images/logo_9to5-toys.png" alt=""/>
                    <img src="images/logo_Digital-Trends.png" alt=""/>
                    <img src="images/logo_in-the-know.png" alt=""/>

                  </div>
                </div>
                <div class="carousel-item">

                  <div class="logo-slide">

                    <img src="images/logo_Wall-Street-Journal.png" alt=""/>
                    <img src="images/logo_9to5-toys.png" alt=""/>
                    <img src="images/logo_Digital-Trends.png" alt=""/>
                    <img src="images/logo_in-the-know.png" alt=""/>

                  </div>

                </div>
                <div class="carousel-item">

                  <div class="logo-slide">

                    <img src="images/logo_Wall-Street-Journal.png" alt=""/>
                    <img src="images/logo_9to5-toys.png" alt=""/>
                    <img src="images/logo_Digital-Trends.png" alt=""/>
                    <img src="images/logo_in-the-know.png" alt=""/>

                  </div>

                </div>
              </div>
              <a class="carousel-control-prev" href="carouselLogoControls" role="button" data-slide="prev">
                <svg class="icon chevron">
                  <use class="icon-chevron white" xlink:href="#Chevron"></use>
                </svg>
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselLogoControls" role="button" data-slide="next">
                <svg class="icon chevron">
                  <use class="icon-chevron white" xlink:href="#Chevron"></use>
                </svg>
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>



          </div>

        </div>

      </div>



      
      <a class="cta carousel-cta" href="#" data-underline data-line="view-more" data-line-color="white">View More</a>
      
  </section>


  <section>

      <div class="row no-gutters">
  
        <div class="col-12 col-lg-4 d-flex justify-content-center order-2 order-lg-1">
          <div class="callout bartending-has-arrived">
            <div class="callout-content">
              <h2 class="callout-title">
                  The Future of Bartending Has Arrived 
              </h2>
              <p class="callout-copy">
                  Learn more about why Barsys is what your parties have been missing.
              </p>
              <a class="cta callout-cta" href="#">Visit Store</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-8 callout-image bartending-has-arrived--image order-1 order-lg-2" style="background-image: url('images/bartending-has-arrived.jpg')"></div>
  
      </div>
    
  </section>

</main>

<footer class="footer">
  <div class="container">
    <div class="row justify-content-center align-items-start">

      <div class="footer-logo">
        <svg class="icon">
          <use class="icon-logo" xlink:href="#barsys"></use>
        </svg>
      </div>

      <div class="col-12 col-md-5">



        <h2 class="footer-header links-header">Quick Links</h2>

        <ul class="footer-links">
          <li><a href="#">Shop</a></li>
          <li><a href="#">Technology</a></li>
          <li><a href="#">Community</a></li>
          <li><a href="#">Journal</a></li>

          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
        
        
      </div>
      <div class="col-12 col-md-4">
          <h2 class="footer-header subscribe-header">Never Miss a Mix!</h2>
          <div class="form-single-field footer-sign-up">
            <form>
              <input type="text" placeholder="enter your email address"/>
              <input type="submit" value="Sign Up"/>
            </form>
          </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-5 order-2 order-md-1">
        <div class="footer-copyright">
          <p>© 2019 BARSYS</p>
          <p>Web Design by Craft & Root</p>
        </div>
      </div>
      <div class="col-12 col-md-4 order-1 order-md-2">
        <a class="footer-social-link" href="#"><img src="images/icon-facebook.png" alt="facebook"/></a>
        <a class="footer-social-link" href="#"><img src="images/icon-twitter.png" alt="twitter"/></a>
        <a class="footer-social-link" href="#"><img src="images/icon-instagram.png" alt="instagram"/></a>
      </div>
    </div>
  </div>
</footer>

  <script src="js/scripts.js"></script>
</body>
</html>