<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Caleb AS Rebuild</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body width="100%">

  <header>
    <img src="https://static.cdn.responsys.net/i5/responsysimages/content/alaskaair/2019_windowseat_bay_header_logo.png">
  </header>

  <main>

    <section class="hero">
    	<div>
    		<img src="https://static.cdn.responsys.net/i5/responsysimages/content/alaskaair/2019_windowseat_bay_primary_icon.png" alt="">
	    	<h1>See what's new with Alaska&nbsp;Airlines.</h1>
        <div>
	    	  <p>Welcome to a behind-the-scenes look at what goes into your travel experience through our places, our products and our&nbsp;people.</p>
        </div>
    	</div>
    </section>

    <section class="places_hero">
      <span class="pre_hl">PLACES</span>
      <div class="divider_white"></div>
      <h2>From local to global</h2>
    </section>



  </main>

  <footer>
  </footer>

  <script src="js/scripts.js"></script>

</body>
</html>
