<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>---</title>

  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <div class="app">
    <header class="header">
      <nav class="header__nav">
        <div class="header__block header__block--logo">
          <img class="header__img" src="https://info.verizonwireless.com/rs/324-BZD-350/images/verizon_logo.png" alt="Verizon Logo">
        </div>
        <div class="header__block header__block--cta">
          <a class="btn" href="#">Get started</a>
        </div>
      </nav>
    </header>

    <div class="content">
      <main class="intro-block">
        <section class="hero">
          <div class="hero__block hero__block--text">
            <h1 class="hero__h1">Get the devices that<br>
              make it easy to work<br>
              on the go.</h1>
            <a class="btn btn--pill" href="#">Get started</a>
          </div>
          <div class="hero__block hero__block--background">
            <picture class="hero__picture">
              <source media="(min-width: 768px)" srcset="https://info.verizonwireless.com/rs/324-BZD-350/images/VAB33797_hero_background.jpg">
              <source media="(min-width: 0px)" srcset="https://info.verizonwireless.com/rs/324-BZD-350/images/VAB33797_hero_background_mobile.jpg">
              <img class="hero__img" src="https://info.verizonwireless.com/rs/324-BZD-350/images/VAB33797_hero_background.jpg" alt="">
            </picture>
          </div>
        </section>

        <section class="row">
          <div class="row__block row__block--col">
            <div class="row__block row__block--content">
              <h2 class="row__h2">The latest devices.</h2>
            </div>
          </div>
          <div class="row__block row__block--col">
            <div class="row__block row__block--content">
              <img class="row__img" src="https://info.verizonwireless.com/rs/324-BZD-350/images/VAB33797_mobile_devices.png" alt="devices">
            </div>
          </div>
          <div class="row__block row__block--col row--dark">
            <div class="row__block row__block--content">
              <h3 class="row__h3">We have special <br>offers for you.</h3>
              <p>
                <a href="#get-started">Contact your rep today</a>.
              </p>
            </div>
          </div>
          <div class="row__block row__block--col row--dark">
            <div class="row__block row__block--content">
              <h3 class="row__h3">Protect your <br>business devices.</h3>
              <p>
                Get Total Mobile Protection for:
              </p>
              <ul>
                <li>
                  <div class="bullet-content">Same-day device replacements and setup<sup>1</sup></div>
                </li>
                <li>
                  <div class="bullet-content">Unlimited cracked screen repair<sup>2</sup></div>
                </li>
                <li>
                  <div class="bullet-content">Battery replacement<sup>3</sup></div>
                </li>
              </ul>
              <p>
                You must enroll within 30 days of activation. Terms apply.
              </p>
            </div>
          </div>
        </section>

        <section class="row">
          <div class="row__block row__block--col">
            <div class="row__block row__block--content">
              <h2 class="row__h2">The latest devices.</h2>
            </div>
          </div>
          <div class="row__block row__block--col">
            <div class="row__block row__block--content">
              <img class="row__img" src="https://info.verizonwireless.com/rs/324-BZD-350/images/VAB33797_mobile_devices.png" alt="devices">
            </div>
          </div>
          <div class="row__block row__block--col">
            <div class="row__block row__block--content">
              <h3 class="row__h3">We have special <br>offers for you.</h3>
              <p>
                <a href="#get-started">Contact your rep today</a>.
              </p>
            </div>
          </div>
          <div class="row__block row__block--col">
            <div class="row__block row__block--content">
              <h3 class="row__h3">Protect your <br>business devices.</h3>
              <p>
                Get Total Mobile Protection for:
              </p>
              <ul>
                <li>
                  <div class="bullet-content">Same-day device replacements and setup<sup>1</sup></div>
                </li>
                <li>
                  <div class="bullet-content">Unlimited cracked screen repair<sup>2</sup></div>
                </li>
                <li>
                  <div class="bullet-content">Battery replacement<sup>3</sup></div>
                </li>
              </ul>
              <p>
                You must enroll within 30 days of activation. Terms apply.
              </p>
            </div>
          </div>
        </section>

        <section class="callout">
          <div class="callout__block callout__block--headline">
            <h2 class="callout__h2">Get started.<br>Log in to the My Business portal.</h2>
          </div>
          <div class="callout__block callout__block--copy">
            <p class="callout__p">The My Business portal provides all the tools you’ll need to easily manage your account. To add a line, simply log in, follow the steps to select your device and your plan, and then get your number.</p>
          </div>
          <div class="callout__block callout__block--cta">
            <a href="#" class="btn btn--pill btn--slim">Log In</a>
          </div>
        </section>

        <section class="form">
          &nbsp;
        </section>
      </main>

      <footer class="footer">
        <div class="footer__block footer__block--logo">
          <img class="footer__img" src="https://info.verizonwireless.com/rs/324-BZD-350/images/businessready_logo_white.png" alt="Business Logo">
        </div>
        <div class="footer__block footer__block--text">
          <small>Total Mobile Protection benefits are available for select devices. Claims limitations, deductibles and terms apply. See your Verizon account manager for details.</small>
          <br><br>
          <small><sup>1</sup>Eligibility will be determined at the point of claim and is contingent on certain criteria, including claim approval time.</small>
          <br>
          <small><sup>2</sup>Visit phoneclaim.com/verizon to check eligibility, which is subject to change. Cracked screen repair claims will not count against your aggregate claim limit.</small>
          <br>
          <small><sup>3</sup>Battery replacement provided under Verizon Extended Warranty program is available for select devices and subject to parts availability; select locations; eligibility will be determined at the point of claim.</small>
          <br><br>
          <small>© 2019 Verizon</small>
          <br><br>
          <small>Verizon, One Verizon Way, Mail Code: 180WVB, Basking Ridge, NJ 07920</small>
        </div>
      </footer>
    </div>
  </div>
  <script src="js/scripts.js"></script>
</body>

</html>
