<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>tammy</title>

    <link rel="stylesheet" href="css/styles.css">
</head>

<body>


    <nav class="sticky">
        <div class="blackBar"></div>
        <div class="navBarLiner">
            <div class="insideNavLiner">
                <a href="https://www.verizonwireless.com/homepage/business/" target="_blank">
                    <img src="./images/verizon_logo.png" class="vz_logo" alt="Verizon" title="Verizon"></a>
            </div>
            <div class="insideNavLiner">
                <a href="https://info.verizonwireless.com/business-mobility-solutions-SEP2019.html#get-started">Get started</a>
            </div>
        </div>
    </nav>

    <main class="pageBody">
        <section class="hero">

        </section>

        <!-- ROW 1 -->
        <section class="row1">
            <div class="four-columns">
                <div class="insideColumn firstColumnR1">
                    <h2>The latest<br>devices.</h2>
                </div>
            </div>
            <div class="four-columns">
                <div class="phoneImageColumn">
                    <img class="phoneImage" src="./images/VAB33797_mobile_devices.png" alt="Mobile devices">
                </div>
            </div>
            <div class="four-columns white_border">
                <div class="blackColumns third_black_col">
                    <h3>We have special <br>offers for you.</h3>
                    <p>Contact your rep today.</p>
                </div>
            </div>
            <div class="four-columns">
                <div class="blackColumns last_black_col">
                    <h3>Protect your <br>business devices.</h3>
                    <p> Get Total Mobile Protection for:</p>
                    <ul class="padLeft20">
                        <li>
                            <p>Same-day device replacements and setup<sup>1</sup></p>
                        </li>
                        <li>
                            <p>Unlimited cracked screen repair<sup>2</sup></p>
                        </li>
                        <li>
                            <p>Battery replacement<sup>3</sup></p>
                        </li>
                    </ul>
                    <p>You must enroll within 30 days of activation. Terms apply.</p>
                </div>
            </div>
        </section>
        <!-- /ROW 1 -->

        <!-- ROW 2 -->
        <section class="row2">
            <div class="four-columns">
                <div class="insideColumn firstColumnR2">
                    <h2>Measurable<br>results</h2>
                </div>
            </div>
            <div class="four-columns centerVertical secondColumnR2">
                <div class="insideColumn lineAbove">
                    <h3>Productivity on the move.</h3>
                    <p>With the right devices, you can stay productive working from virtually anywhere</p>
                </div>
            </div>
            <div class="four-columns centerVertical columns3_4_R2">
                <div class="insideColumn lineAbove">
                    <h3>Responsiveness to customers.</h3>
                    <p>Adding tablets and smartphones allows you to respond immediately to customer needs, wherever you are.</p>
                </div>
            </div>
            <div class="four-columns centerVertical columns3_4_R2">
                <div class="insideColumn lineAbove">
                    <h3>Mobile security out of the office.</h3>
                    <p>Use our devices with secure lines, not public connections, to ensure that your company data is not compromised.</p>
                </div>
            </div>
        </section>
        <!-- ROW 2 -->

        <section class="row3">

        </section>

        <section class="form-row">
            <h2>Or request a callback.</h2>
            <h3>Fill out this form.</h3>
            <!-- <div class="form-container"> -->

            <form class="inline-form" action=" " method='post'>

                <div class="form-field-box">
                    <label for='FirstName'>First name*</label>
                    <input type="text" value="First Name" name='FirstName' id='FirstName'>
                </div>

                <div class="form-field-box">
                    <label for='LastName'>Last name*</label>
                    <input type="text" value="Last Name" name='LastName' id='LastName'>
                </div>

                <div class="form-field-box">
                    <label for='BusinessName'>Business Name*</label>
                    <input type="text" value="Business Name" name='BusinessName' id='BusinessName'>
                </div>


                <div class="form-field-box">
                    <label for='StreetAddress'>Street Address*</label>
                    <input type="text" value="Street Address" name='StreetAddress' id='StreetAddress'>
                </div>

            </form>
            <!-- </div> -->
        </section>
    </main>

    <footer>
        <div class="blackFoot">
            <a href="https://www.verizonwireless.com/homepage/business/" target="_blank">
                <img src="./images/businessready_logo_white.png" class="bizReady_logo" alt="Verizon Business Ready" title="Verizon Business Ready"></a>

            <p>Total Mobile Protection benefits are available for select devices. Claims limitations, deductibles and terms apply. See your Verizon account manager <span style="whitespace:nowrap;">for details.</span></p>

            <p><sup>1</sup>Eligibility will be determined at the point of claim and is contingent on certain criteria, including claim <span style="whitespace:nowrap;">approval time.</span><br>

                <sup>2</sup>Visit phoneclaim.com/verizon to check eligibility, which is subject to change. Cracked screen repair claims will not count against your aggregate <span style="whitespace:nowrap;">claim limit.</span><br>

                <sup>3</sup>Battery replacement provided under Verizon Extended Warranty program is available for select devices and subject to parts availability; select locations; eligibility will be determined at the point <span style="whitespace:nowrap;">of claim.</span><br>
            </p>

            <p>&copy; 2019 Verizon</p>

            <p>Verizon, One Verizon Way, Mail Code: 180WVB, Basking Ridge, NJ 07920</p>

        </div>

    </footer>

    <script src="js/scripts.js"></script>
</body>

</html>