<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>---</title>
  <script src="https://kit.fontawesome.com/b7f7677d06.js"></script>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <nav class="navigation">

        <div class="navigation-topbar">
          <div class="container">
      
            <div class="row">
              <div class="col-12 d-flex align-items-center justify-content-end">
                <a href="#" target="_self">Contact</a>
                <a href="#" target="_self">Rentals</a>
                <a href="#" target="_self">Store</a>
                <a href="#" target="_self">Contribute</a>
              </div>
            </div>
      
          </div>
        </div>
      
        <div class="navigation-main">
            <div class="container">
      
              <div class="row">
                <div class="col-12 d-flex justify-content-start navigation-link-wrapper">
                  <a href="#" class="navigation-logo"><img src='images/MY_30Years_TEXT_WH.png' alt='alt copy'/></a>
                  <div class="navigation-links">
                      <a href="#" target="_self">Shows</a>
                      <a href="#" target="_self">About</a>
                      <a href="#" target="_self">Writers Lab</a>
                      <a href="#" target="_self">News</a>
                  </div>
                  <div class="navigation-burger">
                    <span class="navigation-burger-bar"></span>
                    <span class="navigation-burger-bar"></span>
                    <span class="navigation-burger-bar"></span>
                  </div>
                </div>
              </div>
      
            </div>
        </div>
      
      </nav>
      

<header class="hero hero-details" style="background-image: url('images/FX_KeyArt_hero.png')">
  <section class="homepage-shows detail-shows">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-12">
  
            <div class="shows d-flex">
              <div class="shows--single featured" style="background-image: url('images/homepage-image.png')">
                <div class="shows--single-logo">
                  <img src="images/current-shows-logo1.png" alt=''/>
  
                  <p class="shows--creds">
                    <span class="shows--creds-category">written by</span>
                    <span class="shows--creds-detail">Jessica Hagedorn</span>
                    <span class="shows--creds-detail--and">&</span>
                    <span class="shows--creds-detail">Fabian Obispo</span>
                  </p>
  
                  <div class="shows--single-logo--color" style="background-color:#046DB4"></div>
                </div>
  
                <p class="shows--single-copy">
                  <span class="shows--single-copy-title">Show Title</span>
                  <span class="shows--single-copy-detail">Aug 23 - Sept 15</span>
                </p>
  
               
                <a class="button shows--single-cta" href="#">buy tickets</a>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

</header>

<main>

    <section class="detail-section">
        <div class="container">
    
          <div class="row justify-content-center">
            <div class="col-12 col-md-6">
    
              <h2 class="section-header detail-header">
                  Felix Starro
              </h2>
              <p class="section-copy detail-leading">
                  <b>
                      FELIX STARRO is a musical by Jessica Hagedorn and Fabian Obispo, based on a powerful short story with the same title by acclaimed Filipino American writer, Lysley Tenorio.
                  </b>
                  
              </p>
              <p class="section-copy">
                  Protagonist Felix is a famous faith healer in the Philippines, whose clients once included celebrities and big politicians. After falling on hard times, Felix decides to go to San Francisco for one last healing mission with ailing Filipinos in the Bay Area. Junior, Felix Starro’s nineteen year-old, orphan grandson, goes along as his assistant. Unbeknownst to Felix, Junior has plans of his own.
              </p>
              <p class="section-copy">
                  FELIX STARRO explores issues of faith, family, love, loss, betrayal, and what it means to be an undocumented Filipino immigrant in America. It is the original Filipino American musical we have all been waiting for.
              </p>
              

            </div>
    
            <div class="col-12 col-md-4">
                <div class="membership detail-membership">
                    <p class="membership-header">Directions</p>
                    <p class="membership-copy">
                        <span class="contact-membership-title">Theater Row</span>
                        <span>410 W 42nd Street,</span> 
                        <span>New York, NY 10036</span> 
                        <span>212.971.4862</span>
                        <a href="#">www.theatrerow.org</a>
                    </p>
                  </div>
    

    
    
            </div>
    
    
    
          </div>
    
    
        </div>
    
    
    </section>

    <section class="detail-section">
        <div class="container">
    
          <div class="row justify-content-center">
            <div class="col-12 col-md-10">
              <h2 class="section-header with-top-border">
                  Sizzle Reel for Show Headline
              </h2>

              <div class="section-video">
                  <div class="video-poster" style="background-image:url('images/video-poster.png')">
                  <!-- can add play button here -->
                  </div>
                  <video width="400" controls preload>
                      <source src="https://download.blender.org/peach/bigbuckbunny_movies/BigBuckBunny_320x180.mp4" type="video/mp4">
                  </video>
              </div>
    
    
            </div>
    
          </div>
    
    
        </div>
    
    
      </section>


    <section class="detail-section">
        <div class="container">
    
          <div class="row justify-content-center">
            <div class="col-12 col-md-8">
              <h2 class="section-header">
                About the Director
              </h2>
    
    
              <div class="sidebyside detail-member">
                  <div class="sidebyside--left team-member--image">
                      <img src="images/show.detail-image.png" alt=""/>
                  </div>
                  <p class="sidebyside--right team-member--copy">
                    <span class="team-member--copy-header">Firstname Lastname | Role</span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
                  </p>
                </div>
    
            </div>
    
          </div>
    
    
        </div>
    
    
      </section>

  <section class="detail-section">
      <div class="container">
  
        <div class="row justify-content-center">
          <div class="col-12 col-md-8">
            <h2 class="section-header with-top-border">
              About the Director
            </h2>
  
  
            <div class="sidebyside detail-member">
                <div class="sidebyside--left team-member--image">
                    <img src="images/show.detail-image.png" alt=""/>
                </div>
                <p class="sidebyside--right team-member--copy">
                  <span class="team-member--copy-header">Firstname Lastname | Role</span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
                </p>
              </div>
  
          </div>
  
        </div>
  
  
      </div>
  
  
    </section>
        

  <section class="detail-section">
      <div class="container">
  
        <div class="row justify-content-center">
          <div class="col-12 col-md-8">
            <h2 class="section-header with-top-border">
              About the Director
            </h2>
  
  
            <div class="sidebyside detail-member">
                <div class="sidebyside--left team-member--image">
                    <img src="images/show.detail-image.png" alt=""/>
                </div>
                <p class="sidebyside--right team-member--copy">
                  <span class="team-member--copy-header">Firstname Lastname | Role</span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
                </p>
              </div>
  
          </div>
  
        </div>
  
  
      </div>
  
  
    </section>
      

  <section class="detail-section detail-casting">
      <div class="container">
  
        <div class="row justify-content-center">
          <div class="col-12 col-md-8">
            <h2 class="section-header with-top-border">
              Cast
            </h2>
  
          </div>
  
        </div>
  
        <div class="row justify-content-center">
          <div class="col-12 col-md-8">
            <div class="gallery d-flex justify-content-start">
              <div class="gallery-item">
                <img src="images/gallery-image.png" alt=""/>
                <p class="gallery-item--name">Firstname Last</p>
              </div>
              <div class="gallery-item">
                <img src="images/gallery-image.png" alt=""/>
                <p class="gallery-item--name">Firstname Last</p>
              </div>
              <div class="gallery-item">
                <img src="images/gallery-image.png" alt=""/>
                <p class="gallery-item--name">Firstname Last</p>
              </div>
              <div class="gallery-item">
                <img src="images/gallery-image.png" alt=""/>
                <p class="gallery-item--name">Firstname Last</p>
              </div>

              <div class="gallery-item">
                  <img src="images/gallery-image.png" alt=""/>
                  <p class="gallery-item--name">Firstname Last</p>
                </div>
                <div class="gallery-item">
                  <img src="images/gallery-image.png" alt=""/>
                  <p class="gallery-item--name">Firstname Last</p>
                </div>
                <div class="gallery-item">
                  <img src="images/gallery-image.png" alt=""/>
                  <p class="gallery-item--name">Firstname Last</p>
                </div>
                <div class="gallery-item">
                  <img src="images/gallery-image.png" alt=""/>
                  <p class="gallery-item--name">Firstname Last</p>
                </div>
  
            </div>
          </div>
        </div>
  
  
  
      </div>
  
  
    </section>

  <section class="detail-section design-casting">
    <div class="container">

      <div class="row justify-content-center">
        <div class="col-12 col-md-8">
          <h2 class="section-header with-top-border">
            Design Team
          </h2>


          
          <div class="bullet-lists no-bullet board-list detail-list">
              <div class="board-list--group">
                <ul>
                  <li>Firstname Lastname | Title</li>
                  <li>Firstname Lastname | Title</li>
                  <li>Firstname Lastname | Title</li>
                  <li>Firstname Lastname | Title</li>
                </ul>
              </div>



          </div>

        </div>

      </div>


    </div>


  </section>


  <section class="gallery-section">
    <div class="container">

      <div class="row justify-content-center">
        <div class="col-12 col-md-8">
          <h2 class="section-header with-top-border">
            Gallery
          </h2>

        </div>

      </div>

      <div class="row justify-content-center">
        <div class="col-12 col-md-8">
          <div class="gallery d-flex justify-content-start">
            <div class="gallery-item"><img src="images/gallery-image.png" alt=""/></div>
            <div class="gallery-item"><img src="images/gallery-image.png" alt=""/></div>
            <div class="gallery-item"><img src="images/gallery-image.png" alt=""/></div>
            <div class="gallery-item"><img src="images/gallery-image.png" alt=""/></div>
            <div class="gallery-item"><img src="images/gallery-image.png" alt=""/></div>

            <div class="gallery-item"><img src="images/gallery-image.png" alt=""/></div>
            <div class="gallery-item"><img src="images/gallery-image.png" alt=""/></div>
            <div class="gallery-item"><img src="images/gallery-image.png" alt=""/></div>
            <div class="gallery-item"><img src="images/gallery-image.png" alt=""/></div>
            <div class="gallery-item"><img src="images/gallery-image.png" alt=""/></div>

          </div>
        </div>
      </div>



    </div>


  </section>


  <section class="callout callout-red">

      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-md-7">
            <h2 class="callout-header">
              Headline calling to contribute
            </h2>
            <p class="callout-copy">
              Copy calling to contribute. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
            </p>
          </div>
          <div class="col-12 col-md-3 d-flex callout-btn-holder">
            <a class="callout-btn button" href="#">contribute</a>
          </div>
        </div>
      </div>

  </section>

</main>


<footer class="footer">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-2 order-3 order-md-1">

          <p class="footer-header">Ma-Yi Theater</p>
          <p class="footer-copy">
            <span>520 Eighth Avenue, Suite 309</span>
            <span>New York, NY 10018 </span>
            <span>P: (212) 971-4862</span>
          </p>
               
        </div>
        <div class="col-12 col-md-5 order-2 order-md-2">
          <p class="footer-header">Subscribe to our Newsletter</p>
          <p class="footer-copy">
            <span>Explanation of frequency: You’ll get </span>our updates monthly.
          </p>

          <input class="footer-subscribe--input" placeholder="Email Address"/> <button class="button footer-subscribe--btn">Subscribe</button>
        </div>
        <div class="col-12 col-md-3  d-flex align-items-end justify-content-center justify-content-md-end order-1  order-md-3">
          <a href="#" class="fab fa-instagram"></a>
          <a href="#" class="fab fa-twitter"></a>
          <a href="#" class="fab fa-facebook-f"></a>
        </div>
      </div>

      <div class="row justify-content-center">
          <div class="col-12 col-md-2 d-flex align-items-end">

            <a class="footer-link" href="mailto:info@ma-yitheater.org">info@ma-yitheater.org</a>
                 
          </div>
          <div class="col-12 col-md-5">
          </div>
          <div class="col-12 col-md-3"></div>

        </div>

    </div>

    <div class="footer-legal">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10">
            <a href="#" target="_self">Privacy Policy</a>
            <a href="#" target="_self">Terms of Use</a>
            <a href="#" target="_self">Copyright Ma-Yi Theater Company 2019</a>
          </div>
        </div>
      </div>

    </div>

</footer>


  <script src="js/scripts.js"></script>
</body>
</html>