
.breadcrumbs {

  font-size: 1.1rem;
  line-height: 2.27;

  @include media-breakpoint-up(md) {
    font-size: 1.2rem;
    line-height: 2.47;

  }


  a {
    color: $brand-black;
    text-transform: uppercase;

    &.active {
      font-weight: 700;
    }

    &:hover {
      text-decoration: none;
    }
  }

}

