
.callout {

  background-color: $brand-green;
  color: $brand-gray-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-left: 15px;
  padding-right: 15px;
  width: 100%;

  @include media-breakpoint-up(md) {
    min-height: 60vh;
    padding-left: 14%;
    padding-right: 21%;
  }

  &-title {
    font-size: 3.8rem; //3.8rem | 12vw
    line-height: 1.05;
    margin-bottom: 18px;

    @include media-breakpoint-up(md) {
      font-size: 5rem;
      line-height: .98;
      margin-bottom: 33px;
    }

    &.eyebrow {

      font-size: 1.7rem;
      line-height: 1.11;
      margin-bottom: 15px;

      @include media-breakpoint-up(md) {
        font-size: 2.2rem;
        line-height: 1.59;
        margin-bottom: 16px;
      }
    }

    br {
      display: none;
      visibility: hidden;

      @include media-breakpoint-up(md) {
        display: block;
        visibility: visible;
      }
    }
  }

  &-copy {
    margin-bottom: 46px;

    @include media-breakpoint-up(md) {
      margin-bottom: 44px;
    }
  }


  &-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 50vh;
  }


}
