
.callout {

  background-color: $brand-green;
  color: $brand-gray-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-left: 14%;
  padding-right: 21%;
  width: 100%;
  min-height: 60vh;

  &-title {
    font-size: 5rem;
    line-height: .98;
  }

  &-copy {
    margin-bottom: 44px;
  }

}
