
.callout {

  background-color: $brand-green;
  color: $brand-gray-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-left: 15px;
  padding-right: 15px;
  width: 100%;

  @include media-breakpoint-up(md) {
    min-height: 60vh;
    padding-left: 14%;
    padding-right: 21%;
  }

  &-title {
    font-size: 3.8rem; //3.8rem | 12vw
    line-height: 1.05;
    margin-bottom: 18px;

    @include media-breakpoint-up(md) {
      font-size: 5rem;
      line-height: .98;
      margin-bottom: 33px;
    }

    br {
      display: none;
      visibility: hidden;

      @include media-breakpoint-up(md) {
        display: block;
        visibility: visible;
      }
    }
  }

  &-copy {
    margin-bottom: 46px;

    @include media-breakpoint-up(md) {
      margin-bottom: 44px;
    }
  }



}
