
.carousel {
  background-color: $brand-black;
  color: $brand-gray-light;
  padding-top: 61px;
  padding-bottom: 70px;

  &.testimonial {
    background-color: $brand-gray-light;
    color: $brand-black;

    &.dark {
      background-color: $brand-black;
      color: $brand-gray-light;

      .testimonial-slide {
        background-color: $brand-black;
        color: $brand-gray-light;
      }
    }

    .carousel-title {
      margin-bottom: 15px;

      @include media-breakpoint-up(md) {
        margin-bottom: 28px;
      }
    }

    .carousel-control-prev,
    .carousel-control-next {
      display: flex;
      visibility: visible;
    }

    .icon.chevron {
      width: 28px;
      height: 28px;

      @include media-breakpoint-up(md) {
        width: 38px;
        height: 38px;
      }
    }

  }

  .carousel {
    padding-top: 0;
    padding-bottom: 0;
  }

  @include media-breakpoint-up(md) {
    padding-top: 108px;
    padding-bottom: 111px;
  }

  &-title {
    text-align: center;
    margin-bottom: 55px;

    @include media-breakpoint-up(md) {
      margin-bottom: 79px;
    }
  }

  &-cta {
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);

    @include media-breakpoint-up(md) {
      margin-top: 75px;
    }
  }

  .testimonial-slide {
    position: relative;
    background-color: $brand-gray-light;
    color: $brand-black;
    border-bottom: 1px solid transparent;
    font-family: $georgia;

    .testimonial {
      font-size: 1.6rem;
      line-height: 1.5;
      text-align: center;
      margin: 0;
      padding: 64px 0;

      @include media-breakpoint-up(md) {
        font-size: 2.5rem;
        line-height: 1.52;
        padding: 88px 0;
      }

      &-divider {
        display: none;

        @include media-breakpoint-up(md) {
          display: inline-block;
        }
      }

      &-user {
        text-align: center;

        .eyebrow {
          display: block;
          font-size: 1.8rem;
          line-height: 1.55;
          text-transform: uppercase;

          @include media-breakpoint-up(md) {
            display: inline-block;
            margin-right: 17px;
          }
        }
      }

      &-location {
        font-size: 1.7rem;
        line-height: 1.76;

        @include media-breakpoint-up(md) {
          margin-left: 19px;
        }
      }
    }
  }

  .logo-slide {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: $brand-black;
    flex-wrap: wrap;

    img {
      position: relative;
      display: inline-block;
      width: 40%;
      height: auto;
      align-self: center;
      margin-bottom: 40px;

      @include media-breakpoint-up(md) {
        width: 17%;
        margin-bottom: 0;
      }
    }


  }

  .carousel-control-prev,
  .carousel-control-next {
    opacity: 1;
    display: none;
    visibility: hidden;

    @include media-breakpoint-up(md) {
      display: flex;
      visibility: visible;
    }
  }

  .carousel-control-next {
    transform: translateX(100%);
  }

  .carousel-control-prev {
    transform: translateX(-100%) scale(-1);
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    display: none;
    visibility: hidden;
  }
}
