
.cta {
  position: relative;
  display: block;
  color: $brand-gray-light;
  font-family: $georgia;
  font-size: 1.8rem;
  line-height: 1.16;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: normal;
  background-color: transparent;
  border: 0;

  &.line-white {
    svg {
      .line {
        stroke: $brand-gray-light;
      }
    }
  }

  &.line-red {
    svg {
      .line {
        stroke: $brand-red;
      }
    }
  }

  &.line-black {
    svg {
      .line {
        stroke: $brand-black;
      }
    }
  }

  svg {
    position: absolute;
    bottom: -4px;
    left: 0;

    path {
      stroke-dasharray: 1000;
      stroke-dashoffset: 0;
    }
  }

  @keyframes linedraw {
    from {
      stroke-dashoffset: 1000;
    }

    to {
      stroke-dashoffset: 0;
    }
  }

  &:hover {
    text-decoration: none;
    color: $brand-gray-light;

    svg {
      path {
        animation: linedraw 3s linear .15s forwards;
      }
    }
  }
}
