
.cta {
  position: relative;
  display: block;
  color: $brand-gray-light;
  font-family: $georgia;
  font-size: 1.8rem;
  line-height: 1.16;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: normal;
  background-color: transparent;
  border: 0;

  &:hover {
    text-decoration: none;
    color: $brand-gray-light;
  }
}
