
.shows {
  position: relative;
  margin-bottom: 112px;

  flex-direction: column;

  @include media-breakpoint-up(md) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &--single {
    position: relative;
    width: calc((100% / 3) - 8px);
    background-color: $brand-black;
    background-position: top center;
    background-size: cover;

    &.short {
      margin-bottom: 16px;

      .shows--single-logo {
        visibility: hidden;
        display: none;
      }

      .shows--single-copy-title {
        display: block;
        visibility: visible;
      }
      
      .shows--single-copy {
        font-size: 1.6rem;
        margin-top: 85px;
        background-color: transparent-color($brand-black, .9);
      }
    }
  }

  &--single-logo {
    position: relative;
    display: flex;
    width: 100%;
    height: 150px;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;

    img {
      position: relative;
      display: block;
      width: auto;
      max-height: 120px;
      z-index: 1;
    }
  }

  &--single-logo--color {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .74;
  }

  &--single-copy {
    background-color: transparent-color($brand-black, .9);
    color: $brand-white;
    margin: 0;
    padding: 20px 18px;
    font-size: 2rem;
    line-height: 1.2;
    text-decoration: underline;
    font-weight: 300;
    margin-top: 254px;

    span {
      display: block;
    }

    .shows--single-copy-title {
      text-transform: uppercase;
      font-size: 2rem;
      display: none;
      visibility: hidden;
    }


  }

}
