
.eyebrow {
  font-family: $marydale;
  font-size: 1.7rem;
  line-height: 1.11;
  display: block;
  position: relative;
  transform: rotate(-2deg);

  @include media-breakpoint-up(md) {
    font-size: 2.2rem;
    line-height: 1.59;

    br {
      display: none;
    }
  }
}
