
.form {
  position: relative;
  display: block;
  width: 100%;
  height: auto;

  &--item {
    margin-bottom: 25px;
  }

  .input-message {
    font-size: 1.4rem;
    line-height: 1.2;
    color: $brand-gray-dark;
    margin-top: 6px;

    .error-msg {
      display: none;
      visibility: hidden;
    }

    &.error {
      color: $brand-red;

      .default-msg {
        display: none;
        visibility: hidden;
      }

      .error-msg {
        display: block;
        visibility: visible;
      }

    }
  }
}

input,
textarea {
  position: relative;
  width: 100%;
  border-radius: 4px;
  padding: 11px 12px 10px;
  border: 1px solid $brand-gray-light;
  font-size: 1.6rem;
  line-height: 1.2;
  color: $brand-gray;

  &[type='submit'] {
    width: auto;
    border-radius: 0;
  }

  &.error {
    border: 1px solid $brand-red;
    background-color: transparent-color($brand-red, .1);
  }
}

textarea {
  height: 150px;
}

label {
  font-size: 1.6rem;
  line-height: 1.18;


  &.required {
    &::after {
      content: '*';
      position: relative;
      color: $brand-red;
    }
  }
}
