
.gallery {

  margin-bottom: 117px;
  flex-wrap: wrap;

  &-item {
    position: relative;
    width: calc((100% / 2) - 8px);
    height: auto;
    margin-bottom: 16px;
    margin-right: 16px;

    &:nth-child(2n) {
      margin-right: 0;
    }


    @include media-breakpoint-up(md) {
      width: calc((100% / 5) - 16px);
      margin-bottom: 16px;

      &:nth-child(5n) {
        margin-right: 0;
      }

      &:nth-child(2n) {
        margin-right: 16px;
      }
    }

    img {
      position: relative;
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
