
.hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
  background-color: $brand-black;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;

  @include media-breakpoint-up(md) {
    height: 565px;
  }

  &-headline {
    text-align: center;
    color: $brand-gray-light;
  }

  &-cta {
    margin-top: 46px;

    @include media-breakpoint-up(md) {
      margin-top: 69px;
    }
  }
}
