
.logogrid {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 85px;

  &--item {
    position: relative;
    width: 50%;

    @include media-breakpoint-up(md) {
      width: 25%;
    }

    img {
      position: relative;
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
