
.membership {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 30px;

  @include media-breakpoint-up(md) {
    width: 352px;
    margin-bottom: 0;
  }

  &-header {
    background-color: $brand-red;
    text-align: center;
    width: 100%;
    color: $brand-white;
    padding: 18px 0 19px;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
  }

  &-copy {
    width: 100%;
    text-align: center;
    background-color: $brand-gray-light;
    padding: 30px 42px 34px;
    font-size: 2rem;
    line-height: 1.5;
  }
}
