
.navigation {

  &-topbar {
    background-color: $brand-red;
    color: $brand-white;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 12px 0 10px;
    display: none;
    visibility: hidden;

    @include media-breakpoint-up(md) {
      font-size: 1.6rem;
      padding: 17px 0 15px;

    }

    @include media-breakpoint-up(lg) {
      display: block;
      visibility: visible;
    }

    a {
      color: $brand-white;
      margin-left: 30px;
      text-decoration: none;

      &.active {
        color: $brand-yellow;
      }

      &:last-child {
        color: $brand-red;
        background-color: $brand-white;
        padding: 11px 12px 10px 15px;
        margin-left: 38px;

        &.active {
          background-color: $brand-black;
          color: $brand-white;
        }
      }
    }
  }

  &-main {
    background-color: $brand-red;
    padding: 25px 18px 20px;

    @include media-breakpoint-up(lg) {
      padding: 45px 0;
      background-color: $brand-black;
    }
  }

  &-link-wrapper {
    flex-direction: column;
    align-items: flex-start;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      align-items: flex-end;
    }
  }

  &-logo {
    position: relative;
    display: block;
    width: 70%;
    max-width: 357px;

    @include media-breakpoint-up(lg) {
      margin: 0;
      width: 100%;
    }

    img {
      width: 100%;
      display: block;
    }
  }

  &-burger {
    position: absolute;
    display: block;
    visibility: visible;
    right: 15px;
    width: 23px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);

    @include media-breakpoint-up(lg) {
      display: none;
      visibility: hidden;
    }

    &-bar {
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      background-color: $brand-white;
      transform-origin: 50% 50%;
      left: 0;
      transition:
      transform .1s ease .1s,
      top .25s ease,
      bottom .25s ease,
      opacity .25s ease;


      &:nth-child(1) {
        top: 0;
        transform:  rotate(0deg) translateY(0%) translateX(0%);
      }

      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%) rotate(0deg);
      }

      &:nth-child(3) {
        transform: rotate(0deg);
        bottom: 0;
      }

    }

    &.active {
      .navigation-burger-bar {

        &:nth-child(1) {
          top: 50%;
          transform: rotate(45deg) translateY(-50%) translateX(-8%);
        }

        &:nth-child(2) {
          transform: translateY(-50%) rotate(0deg);
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg) translateY(-50%) translateX(-3%);
          bottom: 50%;
        }
      }
    }
  }

  &-links {
    position: absolute;
    display: flex;
    background-color: $brand-black;
    width: calc(100% + 36px);
    align-items: center;
    justify-content: space-between;
    left: -150%;
    height: calc(94vh - 32px);
    flex-direction: column;
    padding-left: 0;
    z-index: 2;
    top: calc(100% + 20px);
    transform: translate(-50%, 0);
    padding-top: 32px;
    max-height: none;
    

    &.active {
      left: 50%;
    }

    &.mobile-ready {
      transition: left .8s ease-in-out;
    }


    @include media-breakpoint-up(md) {
      max-height: 50vh;
    }


    @include media-breakpoint-up(lg) {
      position: relative;
      display: block;
      background-color: transparent;
      width: 100%;
      height: auto;
      left: 0;
      top: 0;
      transform: translate(0, 0);
      padding-left: 55px;
      padding-top: 0;
    }

    a {
      font-size: 2.8rem;
      font-weight: 700;
      color: $brand-white;
      margin-right: 0%;
      line-height: 1;
      text-decoration: none;
      text-transform: uppercase;

      &:last-child {
        margin-right: 0;

        background-color: $brand-red;
        width: 100%;
        text-align: center;
        line-height: 2.5;

        @include media-breakpoint-up(lg) {
          background-color: transparent;
          width: auto;
          text-align: inherit;
          line-height: 1;
        }
      }

      &.active {
        color: $brand-yellow;
      }

      @include media-breakpoint-up(lg) {
        margin-right: 5%;
        text-transform: none;
      }
    }
  }
}
