
.navigation {
  position: fixed;
  background-color: $brand-black;
  color: $brand-white;
  z-index: 9;
  width: 100%;
  top: 0;
  left: 0;
  transition: background-color .4s ease;

  &.expanded {
    background-color: $brand-gray-light;

    .navigation-close {
      opacity: 1;
    }

    .navigation-cart,
    .navigation-search {
      opacity: 0;
      pointer-events: none;
    }

    .icon-logo {
      fill: $brand-black;
    }
  }

  .navbar {
    padding: 0;
    justify-content: space-between;

    .navbar-nav {
      position: relative;
      padding: 0 15px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      li {
        position: relative;
        width: 50%;
      }

      @include media-breakpoint-up(md) {
        padding: 0;

        li {
          width: auto;
        }
      }

    }

    .navigation-logo {
      order: 3;
    }

    .navigation-burger {
      order: 1;
    }

    .navigation-search {
      order: 2;
    }

    .navigation-cart {
      order: 4;
    }


    @include media-breakpoint-up(md) {
      padding: 0;

      .navigation-logo {
        order: 1;
      }

      .navigation-links {
        order: 2;
      }

      .navigation-search {
        order: 3;
      }

      .navigation-cart {
        order: 4;
      }
    }
  }

  &-logo {
    position: relative;
    width: 100%;
    height: 60px;
    max-width: calc(95px - 16px);
    display: block;
    margin: 0 auto;
    overflow: hidden;
    transform: translateX(-15%);

    @include media-breakpoint-up(md) {
      height: 89px;
      max-width: 182px;
      overflow: visible;
      margin: 0 5% 0 0;
      transform: translateX(0%);
     }

    @include media-breakpoint-up(lg) {
      margin: 0 203px 0 0;
    }

    .icon {
      position: absolute;
      display: block;
      width: 100%;
      height: auto;
      left: 0;
      top: 50%;
      transform: translate(-14px, -50%);

      .icon-logo {
        transition: fill .4s ease;
      }

      @include media-breakpoint-up(md) {
        transform: translate(0, -50%);
      }

    }

  }

  &-holder {
    position: relative;
    height: calc(100vh - 60px);
    background-color: $brand-black;

    width: 100%;

    @include media-breakpoint-up(md) {
      height: auto;
      background-color: transparent;

    }
  }

  &-links-label {

    position: relative;
    padding: 0 15px;
    margin: 30px 0 40px;
    text-transform: uppercase;
    font-size: 1.1rem;
    line-height: 2.25;
    letter-spacing: 2.47px;

    @include media-breakpoint-up(md) {
      display: none;
      visibility: hidden;
    }
  }

  &-links-header {
    position: relative;
    display: flex;
    background-color: $brand-gray-light;
    color: $brand-black;
    padding: 0 15px 87px;

    @include media-breakpoint-up(md) {
      display: none;
      visibility: hidden;
    }

    .navigation-category {
      position: relative;
      width: 50%;
      text-align: center;
      padding-top: 60px;
      color: $brand-black;
      font-size: 1.6rem;
      line-height: 1.625;
      text-transform: capitalize;

      img {
        position: relative;
        width: 100%;
        max-width: 114px;
        margin: 0 auto;
      }

      &-label {
        position: relative;
        margin-top: 17px;
      }
    }
  }

  &-links {
    position: absolute;
    left: 0;
    top: 100%;
    font-size: 1.2rem;
    line-height: 1.16;
    text-transform: uppercase;
    width: calc(100% + 30px);
    transform: translateX(-15px);
    max-width: 615px;

    .navbar-nav {
      position: relative;
      width: 100%;
      max-width: 615px;
      display: flex;
      justify-content: space-between;

      li {

        &.active a {

          color: $brand-yellow;

        }

      }
    }

    a {
      color: $brand-gray-light;
      text-decoration: none;
      padding: 12px 0;

      &:hover {
        color: transparent-color($brand-gray-light, .5);
      }

      &.active {
        color: $brand-yellow;
      }

      @include media-breakpoint-up(md) {
        padding: .5rem 1rem;
      }

    }

    @include media-breakpoint-up(md) {
      background-color: transparent;
      position: relative;
      display: flex;
      visibility: visible;
      justify-content: space-between;
      width: cacl(100% + 0);
      transform: translateX(0);
      font-size: 1.2rem;
      line-height: 1.16;

    }

  }

  &-close {
    position: absolute;
    left: 2px;
    top: 18px;
    width: 20px;
    height: 20px;
    transform-origin: center center;
    transform: rotate(45deg);
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s ease;
    z-index: 1;

    img {
      position: relative;
      width: 100%;
      height: auto;
    }

    @include media-breakpoint-up(md) {
      display: none;
      visibility: hidden;
    }
  }

  &-burger {
    position: relative;
    background-color: transparent;
    border: 0;
    z-index: 2;

    @include media-breakpoint-up(md) {
      display: none;
      visibility: hidden;
    }

    &-bar {
      position: relative;
      width: 20px;
      height: 1px;
      display: block;
      background-color: $brand-gray-light;
      margin-bottom: 6px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-search {
    position: relative;
    margin: 0 0 0 8px;
    transition: opacity .4s ease;

    &[aria-expanded='true'] {
      opacity: 0;
    }

    @include media-breakpoint-up(md) {
      margin: 0 43px;
    }

    img {
      position: relative;
      width: 14px;
      height: 14px;
      display: block;
    }

  }

  &-cart {
    position: relative;
    transition: opacity .4s ease;

    .navigation-cart-num {
      position: absolute;
      display: block;
      color: $brand-gray-light;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -45%);
      z-index: 2;
      font-size: 1rem;
    }

    img {
      position: relative;
      width: 16px;
      height: 16px;
      display: block;
      z-index: 1;
    }

  }

  .search-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    width: 100%;

    background-color: $brand-gray-light;
    z-index: 2;

    @include media-breakpoint-up(md) {
      transform: translateY(100%);
      background-color: $brand-black;
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;
    }

    &-holder {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include media-breakpoint-up(md) {
        padding: 25px 0 26px;
      }
    }

    &-input {
      position: relative;
      width: 100%;
      border: 0;
      background-color: transparent;

      font-size: 1.5rem;
      line-height: calc(37/15);
      color: $brand-gray;

      @include media-breakpoint-up(md) {
        color: $brand-gray-light-alt;
      }
    }

    &-search-icon {
      position: relative;
      display: block;
      width: 19px;
      margin-right: 20px;

      img {
        position: relative;
        width: 100%;
      }
    }

    &-search-close {
      position: absolute;
      left: 0;
      top: -42px;
      border: 1px solid $brand-red;
      display: block;
      width: 17px;
      opacity: 0;

      @include media-breakpoint-up(md) {
        position: relative;
        top: 0;
        opacity: 1;
        margin-left: 20px;
      }

      img {
        position: relative;
        width: 100%;
      }
    }

    &-results {
      position: relative;
      padding-top: 29px;
      padding-bottom: 40px;
      min-height: 100vh;

      @include media-breakpoint-up(md) {
        min-height: 0;
      }

      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        border-top: 1px solid $brand-gray;

        @include media-breakpoint-up(md) {
          border-top: 1px solid $black;
        }

      }
    }

    &-results-label {
      position: relative;
      color: $brand-black;
      text-transform: uppercase;
      font-size: 1.2rem;
      line-height: calc(27/12);

      @include media-breakpoint-up(md) {
        color: $brand-gray-light;
      }
    }

    &-results-recos {
      position: relative;
      display: flex;
      flex-direction: column;
      font-size: 1.5rem;
      line-height: calc(37/15);
      color: $brand-black;

      @include media-breakpoint-up(md) {
        flex-direction: row;
        justify-content: space-between;
        color: $brand-gray-light;
      }

      .results-terms {
        position: relative;

        span {
          position: relative;
          display: block;

          @include media-breakpoint-up(md) {
            margin-right: 74px;
            display: inline-block;
          }
        }

      }

      .results-cta {
        color: $brand-gray-alt;
        position: relative;
        display: block;
        margin-top: 30px;

        @include media-breakpoint-up(md) {
          margin-top: 0;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

}
