
input {
  // sass-lint:disable no-vendor-prefixes
  // sass-lint:disable no-misspelled-properties
  &[type='range'] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    padding: 0;

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 1px;
      cursor: pointer;
      animate: .2s;
      box-shadow: 0 0 0  $brand-black, 0 0 0  $brand-black;
      background: $brand-gray;
      border-radius: 0;
      border: 0 solid  $brand-black;
    }

    &::-webkit-slider-thumb {
      box-shadow: 0 0 0  $brand-black, 0 0 0  $brand-black;
      border: 0 solid  $brand-black;
      height: 3px;
      width: 25%;
      border-radius: 0;
      background:  $brand-black;
      cursor: pointer;
      -webkit-appearance: none;
      transform: translateY(-50%);
    }

    &::-moz-range-track {
      width: 100%;
      height: 1px;
      cursor: pointer;
      animate: .2s;
      box-shadow: 0 0 0 $brand-black, 0 0 0 $brand-black;
      background: $brand-gray;
      border-radius: 0;
      border: 0 solid $brand-black;
    }

    &::-moz-range-thumb {
      box-shadow: 0 0 0 $brand-black, 0 0 0 $brand-black;
      border: 0 solid $brand-black;
      height: 3px;
      width: 25%;
      border-radius: 0;
      background: $brand-black;
      cursor: pointer;
      transform: translateY(-50%);
    }

    //ms
    &::-ms-track {
      width: 100%;
      height: 1px;
      cursor: pointer;
      animate: .2s;
      background: transparent;
      border-color: transparent;
      border-width: 3px 0;
      color: transparent;
    }

    &::-ms-fill-lower {
      background: $brand-gray;
      border: 0 solid $brand-black;
      border-radius: 0;
      box-shadow: 0 0 0 $brand-black, 0 0 x $brand-black;
    }

    &::-ms-fill-upper {
      background: $brand-gray;
      border: 0 solid $brand-black;
      border-radius: 0;
      box-shadow: 0 0 0 $brand-black, 0 0 0 $brand-black;
    }

    &::-ms-thumb {
      position: relative;
      box-shadow: 0 0 0 $brand-black, 0 0 0 $brand-black;
      border: 0 solid $brand-black;
      height: 3px;
      width: 120px;
      border-radius: 0;
      background: $brand-black;
      cursor: pointer;
      transform: translateY(-50%);
    }

    &:focus {
      outline: none;

      &::-webkit-slider-runnable-track {
        background: $brand-gray;
      }

      //MS
      &::-ms-fill-lower {
        background: $brand-gray;
      }

      &::-ms-fill-upper {
        background: $brand-black;
      }
    }

  }


}
