
.sidebyside {
  position: relative;
  display: flex;

}

.team-member {

  align-items: flex-start;
  margin-bottom: 78px;
  flex-direction: column;

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }

  &--image {
    position: relative;
    width: 100%;
    margin-bottom: 30px;

    @include media-breakpoint-up(sm) {
      width: 168px;
    }

    @include media-breakpoint-up(md) {
      width: 168px;
      margin-bottom: 0;
    }

    img {
      position: relative;
      width: 100%;
      height: auto;
    }
  }

  &--copy {
    position: relative;
    width: 100%;
    padding-left: 0;
    font-size: 1.6rem;
    line-height: 2.5;
    padding-right: 0;

    @include media-breakpoint-up(md) {
      width: calc(100% - 168px);
      padding-left: 40px;
      padding-right: 6%;
    }
  }

  &--copy-header {
    font-family: $dm;
    font-size: 2rem;
    line-height: 1.4;
    display: block;
  }
}
