
.tab-slider {
  position: relative;
  width: 100%;
  height: auto;
  border-bottom: 1px solid $brand-gray;
  min-width: 900px;
  left: 50%;
  transform: translateX(-50%);

  &-holder {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-center;

  }

  &-thumb {
    width: 20%;
    height: 3px;
    background-color: $brand-gray-light;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: left .35s ease-in-out;
  }

  &-btn {
    position: relative;
    width: 20%;
    padding-bottom: 39px;

    img {
      position: relative;
      width: 100%;
    }
  }
}
