

.about-section {

  .about-leading {
    padding-top: 65px;
    font-size: 2.4rem;
  }

  .section-copy--narrow {
    @include media-breakpoint-up(md) {
      padding-right: 20%;
    }
  }
}

.about-news-section {
  padding-top: 78px;
}

.board-list {
  position: relative;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }

  &--group {
    position: relative;
    width: 100%;
    margin-bottom: 30px;

    @include media-breakpoint-up(md) {
      width: 25%;
      margin-bottom: 0;
    }

    ul {
      margin-bottom: 0;
    }

    &-header {
      font-size: 2rem;
      line-height: 1.5;
      font-family: $dm;
    }
  }
}
