
.contact {
  background-color: $brand-gray-light;

  &-callout {
    background-color: $brand-black;
    padding: 60px 21px;
  }

  &-form-header {
    position: relative;
    font-size: 3.8rem;
    line-height: calc(40/38);
    letter-spacing: 1.6px;
    padding: 62px 0 17px;
    text-align: center;

    @include media-breakpoint-up(md) {
      padding: 104px 0 17px;
      font-size: 5rem;
      line-height: calc(55/50);
      letter-spacing: 1.64px;
    }
  }

  &-form-copy {
    position: relative;
    margin-bottom: 47px;
    text-align: center;

    @include media-breakpoint-up(md) {
      margin-bottom: 69px;
    }
  }

  &-form-submit-btn {
    position: relative;
    color: $brand-red;
    margin: 55px auto 65px;

    @include media-breakpoint-up(md) {
      margin: 119px auto 124px;
    }
  }

  &-form-inputs {

    &.multi {
      display: block;

      @include media-breakpoint-up(md) {
        display: flex;
      }

      input {
        position: relative;
        width: 100%;

        &:first-child {
          margin-bottom: 22px;
        }

        @include media-breakpoint-up(md) {
          width: calc(50% - 22px);

          &:first-child {
            margin-bottom: 0;
          }
        }
      }
    }

    input {
      &[type='text'] {
        padding-left: 0;
        border: 0;
        border-bottom: 1px solid $brand-black;
      }
    }
  }
}


