.header {
  width: 100vw;
  position: fixed;
  top: 0;
  padding: 6px 0;
  background-color: $color--white;
  border-top: 30px solid $color--black;
  border-bottom: 1px solid $color--black;
}

.header-container {
  margin: 0 auto;
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  max-width: 160px;
  height: auto;
  padding-bottom: 4px;
}

.header-nav-linkcolor {
  text-decoration: none;
  color: inherit;
}

