
.callout.at-your-home {
  padding-top: 62px;
  padding-bottom: 70px;

  @include media-breakpoint-up(md) {
    padding-top: 160px;
    padding-bottom: 153px;
  }

  .callout-copy {
    max-width: 461px;
  }

}

.at-your-home--image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;

  min-height: 75vh;

  @include media-breakpoint-up(md) {
    min-height: 50vh;
  }

  @include media-breakpoint-up(lg) {
    min-height: 0;
  }

}
