
.callout.at-your-home {
  padding-top: 160px;
  padding-bottom: 153px;

  .callout-copy {
    max-width: 461px;
  }

}

.at-your-home--image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}
