@media screen and (max-width: 768px) {

	.hero {
		// background: none;
		position: relative;
		height: 800px;
		background: url(https://info.verizonwireless.com/rs/324-BZD-350/images/VAB33797_hero_background.jpg);
		background-position: top 300px right 0px;
		background-size: cover;
		background-repeat: no-repeat;

	}

	.hl_cta_container {
		top: 110px !important;
		// height: 350px;
		position: relative;
		background-color: red;
	}

		.headline_container {
			height: 100px;
			width: 100% !important;  
				// FREDIE - why do I need this important? 
			font-size: 45px;
			line-height: 47px;
			font-weight: bold;
		}

		.cta_container {
			height: 100%;
		}

}
