@media screen and (max-width: 768px) {

	.hero {
		// background: none;
		height: 800px;
		background: url(https://info.verizonwireless.com/rs/324-BZD-350/images/VAB33797_hero_background.jpg);
		background-position: top 300px right 0px;
		background-size: cover;
		background-repeat: no-repeat;

	}

	.hl_cta_container {
		height: auto;
		background-color: $white;
	}

		.headline_container {
			height: 100%;
			width: 100% !important;  
				// FREDIE - why do I need this important? 
			padding: 5%;
			position: relative;
			top: 170px !important;
			width: 550px;
			font-size: 45px;
			line-height: 47px;
			font-weight: bold;
		}

		.cta_container {
			height: 100%
			position: relative;
			top: 40px;
		}

}
