.news-header {
  font-family: $dm;
  font-size: 6.5rem;
  line-height: 1.36;
  letter-spacing: 2.6px;
  font-weight: lighter;
  margin: 0;
}

.news-article {
  
  border-bottom: 1px solid $brand-black;
  padding-bottom: 54px;
  padding-top: 44px;
  flex-direction: column-reverse;

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }

  &--title {
    font-size: 2rem;
    line-height: 1.5;
    font-family: $dm;
    color: $brand-red;
    margin: 0;

    @include media-breakpoint-up(md) {
      line-height: 2.8;
    }
  }

  &--content {
    width: 100%;
    padding-right: 0;

    @include media-breakpoint-up(md) {
      width: calc(100% - 260px);
      padding-right: 40px;
    }
  }

  &--copy {
    font-size: 1.6rem;
    line-height: 1.875;
    font-weight: 400;
  }

  &--copy-writtenby {
    display: block;
    text-decoration: underline;
    color: $brand-black;

    &:hover {
      color: $brand-black;
    }
  }

  a.news-article--copy-more {
    display: block;
    color: $brand-blue;
    font-size: 1.6rem;
  }

  &--image {
    position: relative;
    width: 260px;

    img {
      position: relative;
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
