


.store-products-head {
  text-align: center;
  padding: 96px 0 53px;
}

.store-product-featured-btn {
  margin-top: 31px;
  margin-bottom: 31px;
  width: 100%;

  @include media-breakpoint-up(md) {
    margin-top: 50px;
    margin-bottom: 60px;
    width: auto;

  }
}

.store-included {
  background-color: $brand-black;
  padding-bottom: 64px;

  @include media-breakpoint-up(lg) {
    padding-bottom: 112px;
  }


  .store-products-head {
    color: $brand-gray-light;
    padding: 62px 0 54px;

    @include media-breakpoint-up(lg) {
      padding: 112px 0 75px;
    }
  }

  &-products {
    color: $brand-gray-light;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    &--includes {
      position: relative;
      width: 50%;
      text-align: center;
      margin-bottom: 51px;

      @include media-breakpoint-up(lg) {
        width: 200px;
        margin-bottom: 0;
      }
    }

    &--includes-number {
      position: relative;
      display: block;
      max-height: 56px;
      width: auto;
      margin: 0 auto 22px;

    }
  }
}

.not-sure-which {
  background-color: $brand-brown;

  padding-top: 62px;
  padding-bottom: 70px;

  @include media-breakpoint-up(md) {
    padding-top: 160px;
    padding-bottom: 153px;
  }

  .callout-title {
    max-width: 332px;
  }

  .callout-copy {
    max-width: 306px;
  }
}
