
.store-intro {
  padding-top: 83px;
}

.store-item {
  margin-bottom: 125px;
}

.store-item--cost {
  position: relative;
  display: block;
  margin-top: 30px;
  font-family: $dm;
  font-size: 2rem;
}

.button.store-item-btn {
  display: block;
  text-align: center;
  width: 168px;
}

.store-item-image {
  margin-top: 42px;
  margin-bottom: 84px;
}

.store-item-membership {
  width: 100%;

  .membership-header {
    background-color: $brand-gray-dark;
  }

  .membership-copy {
    font-family: $dm;
    font-style: italic;
    font-weight: lighter;
    font-size: 2rem;
    line-height: 2;
    margin: 0;

    .store-item-reviewer {
      font-style: normal;
      font-family: $monserrat;
      text-transform: uppercase;
      display: block;
      font-size: 1.4rem;
      margin: 15px 0 0;
    }
  }
}
